[Unit]
Description= Timer de chromium-kiosk

[Timer]
Unit=chromiumkiosk.service
OnCalendar=Mon..Sun *-*-* 13:04:00


[Install]
WantedBy=timers.target
