[Desktop Entry]
Name=Chromium-kiosk
Comment=Navegador web Chromim kiosk
Exec=sh -c "sleep 40 &&/usr/bin/chromium-browser --noerrdiaglogs --disable-infobars --kiosk https://docs.google.com/spreadsheets/d/1LSPw7GFk5Jse_WaKsrxhs9i9-PX7KKsn2EuVbF3cJBA"
Icon=chromium-browser
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;

