[Unit]
Description= Timer de chromium-kiosk

[Timer]
Unit=chromiumkiosk.service
OnCalendar=Mon..Fri *-*-* 13:50:00


[Install]
WantedBy=timers.target
