[Unit]
Description= Timer de shutdowntimer

[Timer]
Unit=shutdowntimer.service
OnCalendar=Mon..Fri *-*-* 14:15::00


[Install]
WantedBy=timers.target
