[Unit]
Description= Pase de diapositivas imágenes instituto
After=network-online.target


[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=feh -Z -F -D 10 -R 15 -B black -Y /home/pi/Pictures
User=pi
