[Unit]
Description= Pase de diapositivas fotos cole
After=network-online.target


[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=feh -Z -F -D 4 -R 5 -B black -Y /home/pi/Pictures
User=pi
