[Desktop Entry]
Name=control tv
Comment=Control de tv por hdmi con paquete cec-utils
Exec=echo 'on 0.0.0.0' | cec-client -s -d 1
Icon=
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;
